
a{
    color: white;
}

.main{
    background-color: blue;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: grey;
    color: white;
    text-align: center;
}

img.logo{
    padding: 10px 10px 10px 0px

}

div.success-banner{
    width: 400px;
    height: 500px;
    background-color: blue;
}

